<style type="text/css">
a.terms {
    font-size: 0.7em;
    bottom: -75px;
    position: absolute;
    left: 3px;
}

.nav li a { filter: drop-shadow(2px 3px 1px #f24333);}

h2, h3 {color:black;}
p {text-align: center;}

</style>

<div class="active-wrap">
</style>
<p class="inner-text"> ::ACTIVE<span class="blink"> /</span> AGENCY </p>

<br><br>

<article>
<h1 class="active-head">SOFTWARE :: Your Platform Needs</h1>
<h2>assistance with any of the below categories or software, installation, maintenance, customization-? It's our pleasure  
</h2>

<ul class="active">
  <li>Democracy</li>
  <li>Nation Land</li>
  <li>Unions</li>
</ul>

<ul class="active">
  <li>Computer</li>
  <li>Vermont Town</li>
  <li>SVG</li>
</ul>

<ul class="active">
  <li>Philosophy</li>
  <li>East Eastate</li>
  <li>LGBT</li>
</ul>


</article>
<br>



<!-- 		<link rel="stylesheet" type="text/css" href="app/_assets/css/grid/normalize.css" />
 -->		<link rel="stylesheet" type="text/css" href="app/_assets/css/grid/demo.css" />
		<link rel="stylesheet" type="text/css" href="app/_assets/css/grid/component.css" />
		<script src="app/_assets/js/grid/modernizr.custom.js" type="text/javascript-lazy"></script>

	<body class="demo-2">
		<div class="container">
			
			<section class="grid3d horizontal" id="grid3d">
				<div class="grid-wrap">
					<div class="grid">
						<figure>
							<!-- <img src="app/_assets/img/grid/democratic-seal.svg" alt="img04"/> -->
							<h2>Database Tools</h2>


						</figure>
						<figure>
							<a title="Laravel, Bootstrap, Symfony,... +12 more"><h3>Frameworks</h3></a>
							<!-- <img src="app/_assets/img/grid/democratic-donkey.svg" alt="img03"/> -->
						</figure>
						<figure>
							<a title="Helpdesk, osTicket, Trellis,... +9 more"><h3>Customer Support Software</h3></a>
							<!-- <img src="app/_assets/img/grid/Progressive_Moose_black.svg" alt="img01"/> -->
						</figure>
						<figure style="display:none">
							<a title="Lazarus, BellaBook,... +4 more"><h3>Guest Books</h3></a> 
							<!-- <img src="app/_assets/img/grid/automata.svg" alt="img05"/> -->
						</figure>
						<figure>
							<a title="Presta, OpenCart, Zen, TomatoCart, Magento, Axis,... +4 more"><h3>Ecommerce</h3></a> 
							<!-- <img src="app/_assets/img/grid/vermont-2.svg" alt="img02"/> -->
						</figure>
						<figure>
							<a title="Joomla, Drupal, Fork, Pixie,... +7 more"></a><h3>CMS</h3> 
							<!-- <img src="app/_assets/img/grid/fish.svg" alt="img08"/> -->
						</figure>
						<figure>
							<a title="eyeOS, Collabtiveb, Flyspray,... +4 more"></a><h3>Project Management Platforms</h3> 
							<!-- <img src="app/_assets/img/grid/wheel.svg" alt="img09"/> -->
						</figure>
						<figure>
							<a title="Logaholic, Aardvark,... +2 more"></a><h3>Search Optimization and Ranking Systems Dashboards </h3>
							<!-- <img src="app/_assets/img/grid/bach.svg" alt="img06"/> -->
						</figure>
						<figure>
							<a htitle="Form Tools, CJ Dynamic, LimeSurvey"></a><h3>Polls and Survey Systems</h3>
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
						<figure>
							<a title="Maillist, Newsletter, ccMail,... +1 more"></a><h3>Email systems &amp; Calendar Setup</h3> 
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
						<figure>
							<h3>ERP (enterprise resource planning)</h3> 
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
						<figure>
							<a title="Gregarius, or Feed of Feed"><h3>RSS feed setup</h3></a>
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
						<figure>
							<h3>Company Wikis setup</h3> 
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
						<figure style="display:none">
							<h3>Calendar Setup</h3> 
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
						<figure>
							<h3>Blogs </h3>
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
						<figure>
							<h3>Audio video streaming</h3> 
							<!-- <img src="app/_assets/img/grid/full-amitabha.svg" alt="img07"/> -->
						</figure>
					</div>
				</div><!-- /grid-wrap -->
				<div class="content">


<!-- database tools -->
					<div>
					<object data="app/_assets/img/svg/database.svg" class="inner-img"></object>
						<h3>Database Tools</h3>
						<p class="inner-text"><a href="http://topnew.net/sidu/" target="blank">SIDU</a> - great GUI for MySQL</p>
						<p class="inner-text"><a href="https://www.phpmyadmin.net/" target="_blank">phpMyAdmin</a> - popular MySQL software, great documentation, data management software</p>
						<p class="inner-text"><a href="https://www.adminer.org/" target="_blank">Adminer</a> - Simple and Secure data manager</p>
						<p class="inner-text"><a href="http://www.sqlabs.com/sqlitemanager.php" target="_blank">SQLiteManager</a> -Easy to use but powerful system</p>
						<p class="inner-text"><a href="https://github.com/fusonic/chive" target=="_blank">Chive</a> open source, fast, great UI</p>
					</div>

	<!-- Frameworks	 -->	
					<div>
					<object data="app/_assets/img/svg/framework.svg" class="inner-img"></object>
						<h3>Frameworks</h3>
						<p class="inner-text"><a href="https://laravel.com/" target="_blank">Laravel</a> - super secure PHP Back-End </p>
						<p class="inner-text"><a href="https://codeigniter.com/" target="_blank">CodeIgniter</a> - elegant designed for developers building web apps</p>
						<p class="inner-text"><a href="http://www.yiiframework.com/" target="_blank">yii</a> - fast and secure</p>
						<p class="inner-text"><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>  -  perhaps the most popular front end framework developed by Twitter</p>
						<p class="inner-text"><a href="https://cakephp.org/" target="_blank">CakePHP</a>  - rapidly scalable platform</p>
						<p class="inner-text"><a href="https://symfony.com/" target="_blank">Symfony</a> - need extreme power-- this platform powers Laravel and Drupal</p>
<!-- <p class="inner-text">Kohana</p>
<p class="inner-text">Smarty</p>
<p class="inner-text">PHPDevShell</p>
<p class="inner-text">FuelPHP</p>
<p class="inner-text">HTML Purifier</p>
<p class="inner-text">PRADO</p>
<p class="inner-text">WideImage</p>     
<p class="inner-text">DIY </p>  -->
					</div>
<!-- CMS -->
					<div>
					<object data="app/_assets/img/grid/customer-service.jpg" class="inner-img" style="border-radius: 50%;"></object>
						<h3>Customer Support Software</h3> 
						<p class="inner-text"><a href="https://www.visionhelpdesk.com/" target="_blank">Vision Helpdesk</a> - scalable for mediutm to large businesses, easy to use ticket system, task and multi channel management</p>
						<p class="inner-text"><a href="http://osticket.com/" target="_blank">osTicket</a> Free, open-source but feature heavy</p>
						<p class="inner-text"><a href="https://www.hesk.com/">HESK</a> - a developer friendly PHP driven system</p>
<!-- <p class="inner-text">Help Center Live</p>
<p class="inner-text">phpOnline</p>
<p class="inner-text">Sales Syntax</p>
<p class="inner-text">Trellis Desk</p>
<p class="inner-text">phpMyFAQ</p>
<p class="inner-text">ExoPHPDesk</p>
<p class="inner-text">Maian Support</p>
<p class="inner-text">Support Incident Tracker</p> -->
					</div>
<!-- Guest Books HIDDEN -->
					<div>
					<div class="inner-img"></div>
						<h3>Guest Books</h3> 
						<p class="inner-text">Lazarus</p>
						<p class="inner-text">BellaBook</p>
						<p class="inner-text">Advanced Guestbook</p>
						<p class="inner-text">VX Guestbook</p>
						<p class="inner-text">PHPKode Guestbook</p>
						<p class="inner-text">RicarGBooK</p>
					</div>
<!-- Ecommerce -->					
					<div>
					<object data="app/_assets/img/grid/cart.png" class="inner-img" style="border-radius: 50%;"></object>
						<h3>Ecommerce</h3> 
						<p class="inner-text"><a href="https://www.prestashop.com/en/">PrestaShop</a> - Great, Free-to-use software </p>
						<p class="inner-text"><a href="https://www.opencart.com/">OpenCart 1.5</a>- Perhaps the best open-source platform for eCommerce</p>
						<p class="inner-text"><a href="https://www.cubecart.com/">CubeCart</a> - Powerful, widly used platform</p>
<!-- <p class="inner-text">Zen Cart</p>
<p class="inner-text">TomatoCart</p>
<p class="inner-text">Avactis</p>
<p class="inner-text">Quick.Cart</p>
<p class="inner-text">SimpleInvoices</p>
<p class="inner-text">Magento</p>
<p class="inner-text">Axis</p> -->
					</div>
<!-- CMS -->
					<div>
					<object data="app/_assets/img/grid/cms.jpg" class="inner-img" style="border-radius: 50%;"></object>
<h3>CMS</h3> 
<p class="inner-text"><a href="https://www.joomla.org/" target="_blank">Joomla</a> - Award winning content management platform</p>
<p class="inner-text"><a href="https://www.drupal.org/8">Drupal 8</a> - An amazing and powerful - highly secure system, used by major governments and orginizations</p>
<p class="inner-text">Concrete5 5.7</p>
<p class="inner-text">Zikula</p>
<p class="inner-text">PHP-Nuke</p>
<p class="inner-text">sNews</p>
<p class="inner-text">SilverStripe</p>
<p class="inner-text">Geeklog</p>
<p class="inner-text">Fork</p>
<p class="inner-text">Pluck</p>
<p class="inner-text">Pixie - open source simple app</p>
					</div>
<!-- PM -->
					<div>
					<object data="app/_assets/img/svg/project-management.svg" class="inner-img" style="border-radius: 50%;"></object>

<h3>Project management platforms</h3> 
<p class="inner-text"><a href="http://qdpm.net/" target="_blank">qdPM</a> - multi project project management tool</p>
<p class="inner-text"><a href="http://www.fengoffice.com/web/" target="_blank">Feng Office</a> - office management platform </p>
<p class="inner-text"><a href="https://eyeos.com/en/" target="_blank">eyeOS</a> - full browser office suite</p>
<p class="inner-text">Collabtive - pm software for small to medium size business</p>
<p class="inner-text">The Bug Genie - pm tool, issue tracker</p>
<p class="inner-text">Flyspray - bug tracking</p>
<p class="inner-text">Traq - pm tool and issue tracker</p>
					</div>
<!-- SEO -->
					<div>
					<object data="app/_assets/img/grid/seo.png" class="inner-img" style="border-radius: 50%;"></object>

<h3>Search Optimization and Ranking systems and dashboards </h3> 

<p class="inner-text">Open Web Analytics -  open source analytics software </p>
<p class="inner-text">Logaholic - web analytics solution </p>
<p class="inner-text">Aardvark Topsites SEO ranging system </p>
<p class="inner-text">Piwik -realtime website analytics </p>
					</div>
<!-- Surveys  -->
					<div>
					<object data="app/_assets/img/grid/poll.png" class="inner-img" style="border-radius: 50%;"></object>

<h3>Polls and Survey Systems</h3> 
<p class="inner-text">Form Tools - easy to use forms</p>
<p class="inner-text">CJ Dynamic Poll - dynamically perform evaluation of form and poll content </p>
<p class="inner-text">LimeSurvey - non coders can create and collect surveys, analyze data</p>
					</div>



<!-- Email -->
					<div>
					<object data="app/_assets/img/grid/email-system.png" class="inner-img" style="border-radius: 50%;"></object>

<h3>Email Tools </h3> 
<p class="inner-text">poMMo - add mailing list to site</p>
<p class="inner-text">Webinsta Maillist mail list/ newsletter manager</p>
<p class="inner-text">OpenNewsletter  - newsletter manager</p>
<p class="inner-text">ccMail-- mail list manager</p>
<h3>Calendar Setup</h3>
<p class="inner-text">WebCalendar</p>
					</div>

 <!-- enterprise planning -->
					<div>
					<object data="app/_assets/img/grid/framework.png" class="inner-img" style="border-radius: 50%;"></object>

<h3>Enterprise Resource Planning</h3> 
<p class="inner-text">Vtiger- marketing, sales, customer service</p>
<p class="inner-text">Dolibarr great small to medium, foundation business tool</p>
<p class="inner-text">SugarCRM  -  Open source  CRM</p>
<p class="inner-text">EPESI CRM app</p>
<p class="inner-text">Zurmo -social gamified CRM</p>
<p class="inner-text">FrontAccounting  - small business entire erp chain</p>
<p class="inner-text">iQDesk - organize customer work flow</p>

					</div>
<!-- RSS -->
					<div>
					<object data="app/_assets/img/svg/streaming.svg" class="inner-img" style="border-radius: 50%;"></object>

<h3>RSS feed setup</h3> 
<p class="inner-text">Gregarius - RSS/RDF/ATOM feed aggregator </p>
<p class="inner-text">Feed of Feeds - RSS Atom aggregator for multi feeds</p>
					</div>
<!-- WIKI -->
					<div>
					<object data="app/_assets/img/grid/wiki.png" class="inner-img" style="border-radius: 50%;"></object>

<h3>Company Wikis setup</h3> 
<p class="inner-text">MediaWiki</p>
<p class="inner-text">DokuWiki</p>
<p class="inner-text">PmWiki</p>
<p class="inner-text">WikkaWiki</p>
<p class="inner-text">Dolphin</p>
<p class="inner-text">Open Source Social Network</p>
					</div>
<!-- Calendar -->
					<div>
					<div class="inner-img"></div>
<h3>Calendar Setup</h3> 

<p class="inner-text">WebCalendar</p>
					</div>
<!-- Blogs -->
					<div>
					<object data="app/_assets/img/grid/cms.jpg" class="inner-img" style="border-radius: 50%;"></object>

<h3>Blogs </h3> 
<p class="inner-text">WordPress</p>
<p class="inner-text">PivotX - flatfile, easy-to-use </p>
<p class="inner-text">Textpattern - great web publishing </p>
					</div>					
<!-- A/V -->
					<div>
					<object data="app/_assets/img/svg/streaming.svg" class="inner-img" style="border-radius: 50%;"></object>

<h3>Audio video streaming</h3> 
<p class="inner-text">ClipBucket</p>
<p class="inner-text">videoDB</p>
<p class="inner-text">kPlaylist</p>
<p class="inner-text">Podcast Generator </p>
					</div>

<!-- END OF CARDS -->
					<span class="loading"></span>
					<span class="icon close-content"></span>
				</div>
			</section>
			
		</div><!-- /container -->
		<script src="app/_assets/js/grid/classie.js" type="text/javascript-lazy"></script>
		<script src="app/_assets/js/grid/helper.js" type="text/javascript-lazy"></script>
		<script src="app/_assets/js/grid/grid3d.js" type="text/javascript-lazy"></script>
		<script>
			new grid3D( document.getElementById( 'grid3d' ) );
		</script></div>

