<style>
html {background: #eeeeee;}
p { top: 7%;
font-size: 1.3em;
width: 60%;
position: relative;
left: 15%;
color:#eeeeee;
}
.server_stat {
/*    line-height: 0.9;*/
        margin-left: 2%;
        color: black;
}

article.server h2 {
        margin-left: 2%;
}

a.terms {
    font-size: 0.65em;
    bottom: 0;
    position: absolute;
    left: 3px;
}
.nav li a {
        filter: drop-shadow(2px 3px 1px #cac6c6);
}
</style>
<h1> ::FOCUS <span class="blink">/</span> AGENCY </h1>

<h1>Secure Web Hosting:</h1>
<br><br>






<!--         <link rel="stylesheet" type="text/css" href="app/_assets/css/svg/normalize.css" />
        

 <link rel="stylesheet" type="text/css" href="app/_assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="app/_assets/css/svg/demo.css" />
        <link rel="stylesheet" type="text/css" href="app/_assets/css/svg/collapseexpand.css" />
        <script src="app/_assets/js/svg/snap.svg-min.js"></script>--> 
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

<!--         <div class="container">
            <div class="main">
                        <div class="box-container box-container--large clearfix">
                    <h2>Expand</h2>
                    <div id="serverOne" class="box box--expander">
                        <span class="morph-shape morph-shape--color-4" data-morph-open="M273,273c0,0-55.8-23-123-23c-78.2,0-123,23-123,23s23-37.7,23-123C50,79.936,27,27,27,27s46,23,124,23
    c85,0,122-23,122-23s-23,38.43-23,123C250,229.646,273,273,273,273z" data-morph-close="M273,273c0,0-55.8,24-123,24c-78.2,0-123-24-123-24S3,235.3,3,150C3,79.936,27,27,27,27S72,3,150,3 c85,0,123,24,123,24s24,38.43,24,123C297,229.646,273,273,273,273z">
                            <svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                                <path d="M273,273c0,0-55.8,0-123,0c-78.2,0-123,0-123,0s0-37.7,0-123c0-70.064,0-123,0-123s45,0,123,0c85,0,123,0,123,0s0,38.43,0,123C273,229.646,273,273,273,273z"/>
                                <div class="inner">

                                    <h2>Server 1 : 4G Optical Apache </h2>
<ul>
<br>
<li>Shared IP Address    : 192.64.117.83<li>
<li>http location:  pollen.computer </li>
<li>backup rate : 24h</li>
<br>
<li>Apache : Version    2.2.31<li>
<li>PHP : Version   5.4.44<li>
<li>MySQL : Version 5.5.52-cll-lve<li>
<br>
<li>Operating System  : linux<li>
<li>Architecture :  x86_64<li>
<li>Perl Version      : 5.10.1<li>
<li>Kernel Version :    2.6.32-673.26.1.lve1.4.20.el6.x86_64<li>
</ul>

                                </div>
                            </svg>
                        </span>
                        <button class="trigger"><i class="fa fa-expand"></i><i class="fa fa-compress"></i></button>
                    </div>

                    

                                        <div id="serverTwo" class="box box--expander">
                        <span class="morph-shape morph-shape--color-4" data-morph-open="M273,273c0,0-55.8-23-123-23c-78.2,0-123,23-123,23s23-37.7,23-123C50,79.936,27,27,27,27s46,23,124,23
    c85,0,122-23,122-23s-23,38.43-23,123C250,229.646,273,273,273,273z" data-morph-close="M273,273c0,0-55.8,24-123,24c-78.2,0-123-24-123-24S3,235.3,3,150C3,79.936,27,27,27,27S72,3,150,3 c85,0,123,24,123,24s24,38.43,24,123C297,229.646,273,273,273,273z">
                            <svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                                <path d="M273,273c0,0-55.8,0-123,0c-78.2,0-123,0-123,0s0-37.7,0-123c0-70.064,0-123,0-123s45,0,123,0c85,0,123,0,123,0s0,38.43,0,123C273,229.646,273,273,273,273z"/>
                                <div class="inner">

<h2>Server 2 : SSD Apache </li></h2>
<ul>
<br>
<li>Dedicated IP Address :  198.54.116.167</li>
<li>http location : democrat.computer</li>
<li>backup rate : 1h </li>
<br>
<li>Apache Version   : 2.2.31</li>
<li>PHP Version :   5.4.45</li>
<li>MySQL Version    : 10.1.18-MariaDB-cll-lve</li>
<br>
<li>Operating System     : linux</li>
<li>Architecture :  x86_64</li>
<li>Perl Version : 5.10.1</li>
<li>Kernel Version : 2.6.32-673.26.1.lve1.4.15.el6.x86_64</li>

</ul>
                                </div>
                            </svg>
                        </span>
                        <button class="trigger"><i class="fa fa-expand"></i><i class="fa fa-compress"></i></button>
                    </div>
                </div>




    

            </div>
        </div>
        <script src="app/_assets/js/svg/classie.js"></script>
        <script>
            (function() {

                function SVGCollapser( el, options ) {
                    this.el = el;
                    this.init();
                }

                SVGCollapser.prototype.init = function() {
                    this.trigger = this.el.querySelector( 'button.trigger' );
                    this.shapeEl = this.el.querySelector( 'span.morph-shape' );

                    var s = Snap( this.shapeEl.querySelector( 'svg' ) );
                    this.pathEl = s.select( 'path' );
                    this.paths = { 
                        active : this.shapeEl.getAttribute( 'data-morph-active' ).split(';')
                    };
                    this.stepsTotal = this.paths.active.length;

                    this.initEvents();
                };

                SVGCollapser.prototype.initEvents = function() {
                    this.trigger.addEventListener( 'click', this.collapse.bind(this) );
                };

                SVGCollapser.prototype.collapse = function() {
                    var self = this, pos = 0,
                        nextStep = function( pos ) {
                            if( pos > self.stepsTotal - 1 ) { return; }
                            self.pathEl.stop().animate( { 'path' : self.paths.active[pos] }, pos === 0 ? 200 : 150, pos === 0 ? mina.easeinout : mina.easeout, function() { nextStep(pos); } );
                            pos++;
                        };

                    nextStep(pos);

                    setTimeout( function() { classie.add( self.el, 'box--close' ); }, 350 );
                };

                function SVGExpander( el, options ) {
                    this.el = el;
                    this.init();
                }

                SVGExpander.prototype.init = function() {
                    this.trigger = this.el.querySelector( 'button.trigger' );
                    this.shapeEl = this.el.querySelector( 'span.morph-shape' );

                    var s = Snap( this.shapeEl.querySelector( 'svg' ) );
                    this.pathEl = s.select( 'path' );
                    this.paths = { 
                        reset : this.pathEl.attr( 'd' ),
                        open : this.shapeEl.getAttribute( 'data-morph-open' ),
                        close : this.shapeEl.getAttribute( 'data-morph-close' )
                    };

                    this.isOpen = false;
                    this.initEvents();
                };

                SVGExpander.prototype.initEvents = function() {
                    this.trigger.addEventListener( 'click', this.toggle.bind(this) );
                };

                SVGExpander.prototype.toggle = function() {
                    var self = this;

                    if( this.isOpen ) {
                        this.pathEl.stop().animate( { 'path' : this.paths.close }, 250, mina.easeout, function() {
                            self.pathEl.stop().animate( { 'path' : self.paths.reset }, 800, mina.elastic );
                        } );
                        setTimeout( function() { classie.remove( self.el, 'box--sizeup' ); }, 250 );
                    }
                    else {
                        this.pathEl.stop().animate( { 'path' : this.paths.open }, 250, mina.easeout, function() {
                            self.pathEl.stop().animate( { 'path' : self.paths.reset }, 800, mina.elastic );
                        } );
                        setTimeout( function() { classie.add( self.el, 'box--sizeup' ); }, 250 );
                    }
                    this.isOpen = !this.isOpen;
                };

                [].slice.call( document.querySelectorAll( '.box--collapser' ) ).forEach( function( el ) { new SVGCollapser(el); } );
                new SVGExpander( document.getElementById( 'serverOne' ) );
                        [].slice.call( document.querySelectorAll( '.box--collapser' ) ).forEach( function( el ) { new SVGCollapser(el); } );
                new SVGExpander( document.getElementById( 'serverTwo' ) );
            })();           
        </script>

 -->

<link rel="stylesheet" type="text/css" href="https://system.computer/press/press.min.css">
<article class="server">
<h2>Server 1 : 4G Optical Apache </h2>
<p class="server_stat">
<br>
Shared IP Address	 : 192.64.117.83 <br>
http location:  pollen.computer <br>
backup rate : 24h <br>
<br>
Apache : Version 2.2.31 <br>
PHP : Version	5.4.44 <br>
MySQL : Version	5.5.52-cll-lve <br>
<br>
Operating System  :	linux <br>
Architecture : x86_64 <br>
Perl Version : 5.10.1 <br>
Kernel Version : 2.6.32-673.26.1.lve1.4.20.el6.x86_64 <br>
</p><br>
</article>
 <br><br>
<article class="server">

<h2>Server 2 : SSD Apache </li></h2>
<p class="server_stat">
<br>
Dedicated IP Address : 	198.54.116.167 <br>
http location : democrat.computer <br>
backup rate : 1h  <br>
<br>
Apache Version	 : 2.2.31 <br>
PHP Version : 	5.4.45 <br>
MySQL Version	 : 10.1.18-MariaDB-cll-lve <br>
<br>
Operating System	 : linux <br>
Architecture : 	x86_64 <br>
Perl Version : 5.10.1 <br>
Kernel Version : 2.6.32-673.26.1.lve1.4.15.el6.x86_64 <br>
</p><br>

</article>
<br><br>




<article>
    <style type="text/css">
p {color: black;}
    </style>
</p><br>
<h3>database tools</h3> 
<p>SIDU</p>
<p>phpMyAdmin</p>
<p>MyWebSQL</p>
<p>Adminer</p>
<p>SQLiteManager</p>
<p>phpLiteAdmin</p>
<p>Chive</p>
<p>Vty</p>

<h3>Frameworks</h3> 
<p>Laravel</p>
<p>CodeIgniter</p>
<p>yii</p>
<p>Bootstrap</p>
<p>CakePHP</p>
<p>Zend</p>
<p>Symfony2</p>
<p>Kohana</p>
<p>Smarty</p>
<p>PHPDevShell</p>
<p>FuelPHP</p>
<p>HTML Purifier</p>
<p>PRADO</p>
<p>WideImage</p>     
<p>DIY </p> 

<h3>Customer Support Software</h3> 
<p>Vision Helpdesk</p>
<p>osTicket</p>
<p>HESK</p>
<p>Help Center Live</p>
<p>phpOnline</p>
<p>Sales Syntax</p>
<p>Trellis Desk</p>
<p>phpMyFAQ</p>
<p>ExoPHPDesk</p>
<p>Maian Support</p>
<p>Support Incident Tracker</p>

<h3>Guest Books</h3> 
<p>Lazarus</p>
<p>BellaBook</p>
<p>Advanced Guestbook</p>
<p>VX Guestbook</p>
<p>PHPKode Guestbook</p>
<p>RicarGBooK</p>

<h3>Ecommerce</h3> 
<p>PrestaShop</p>
<p>OpenCart 1.5</p>
<p>CubeCart</p>
<p>Zen Cart</p>
<p>TomatoCart</p>
<p>Avactis</p>
<p>Quick.Cart</p>
<p>SimpleInvoices</p>
<p>Magento</p>
<p>Axis</p>

<h3>CMS</h3> 
<p>Joomla</p>
<p>Drupal 8</p>
<p>Concrete5 5.7</p>
<p>Zikula</p>
<p>PHP-Nuke</p>
<p>sNews</p>
<p>SilverStripe</p>
<p>Geeklog</p>
<p>Fork</p>
<p>Pluck</p>
<p>Pixie - open source simple app</p>

<h3>Project management platforms</h3> 

<p>qdPM - multi project project management tool</p>
<p>Feng Office - office management platform </p>
<p>eyeOS - full browser offices suite</p>
<p>Collabtive pm software for small to medium size business</p>
<p>The Bug Genie - pm tool, issue tracker</p>
<p>Flyspray - bug tracking</p>
<p>Traq - pm tool and issue tracker</p>

<h3>Search Optimization and Ranking systems and dashboards </h3> 

<p>Open Web Analytics -  open source analytics software </p>
<p>Logaholic - web analytics solution </p>
<p>Aardvark Topsites SEO ranging system </p>
<p>Piwik -realtime website analytics </p>

<h3>Polls and Survey Systems</h3> 
<p>Form Tools - easy to use forms</p>
<p>CJ Dynamic Poll - dynamically perform evaluation of form and poll content </p>
<p>LimeSurvey - non coders can create and collect surveys, analyze data</p>

<h3>Blogs: </h3> 

<p>WordPress</p>
<p>PivotX - flatfile, easy-to-use </p>
<p>Textpattern - great web publishing </p>

<h3>Email systems (Mail box setup like Roundcube)</h3> 

<p>poMMo - add mailing list to site</p>
<p>Webinsta Maillist mail list/ newsletter manager</p>
<p>OpenNewsletter  - newsletter manager</p>
<p>ccMail-- mail list manager</p>

<h3>ERP (enterprise resource planning)</h3> 

<p>Vtiger- marketing, sales, customer service</p>
<p>Dolibarr great small to medium, foundation business tool</p>
<p>SugarCRM  -  Open source  CRM</p>
<p>EPESI CRM app</p>
<p>Zurmo -social gamified CRM</p>
<p>FrontAccounting  - small business entire erp chain</p>
<p>iQDesk - organize customer work flow</p>

<h3>RSS feed setup</h3> 

<p>Gregarius RSS/RDF/ATOM feed aggregator </p>
<p>Feed of Feeds RSS Atom aggregator for multi feeds</p>

<h3>Company Wikis setup</h3> 

<p>MediaWiki</p>
<p>DokuWiki</p>
<p>PmWiki</p>
<p>WikkaWiki</p>
<p>Dolphin</p>
<p>Open Source Social Network</p>

<h3>Calendar Setup</h3> 

<p>WebCalendar</p>

<h3>Audio video streaming</h3> 

<p>ClipBucket</p>
<p>videoDB</p>
<p>kPlaylist</p>
<p>Podcast Generator </p>
</article>
<br><br>
