
<style type="text/css">
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


a.terms {
    font-size: 0.65em;
    bottom: 0;
    position: absolute;
    left: 3px;
}
.nav li a {
        filter: drop-shadow(2px 3px 1px #748259);
}
</style>
<p> ::HOVER <span class="blink">/</span> AGENCY </p>


		<link rel="stylesheet" type="text/css" href="app/_assets/css/tile/component.css" />
		<script src="app/_assets/js/tile/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			
			<ul class="grid effect-6" id="grid">
				<li><a href="#"><img src="app/_assets/img/tile/doc/screen-med.jpg"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/marina-spa.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/spa.card3.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/svg.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/marina.secure.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/1.jpg"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/api-notes.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/clear-notes.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/detailed-notes.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/dev-guide.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/install-notes.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/issue-tracking.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/open-graph.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/seo-details.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/guide/style-guide.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/angular.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/aws_logo.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/aws.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/compass.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/d3.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/github-256.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/Google-Analytics-01.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/gsap.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/icon-grunt.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/jquery.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/json_54.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/Linux_icon.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/ncapsulate-grunt.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/t2/ruby.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/codepen.lafland.png"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/doc/pollen.agency.png"></a></li>


<!-- 			
				<li><a href="#"><img src="app/_assets/img/tile/8.jpg"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/9.jpg"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/3.jpg"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/5.jpg"></a></li>
				<li><a href="#"><img src="app/_assets/img/tile/2.jpg"></a></li> -->
			</ul>
		</div>
		<script src="app/_assets/js/tile/masonry.pkgd.min.js"></script>
		<script src="app/_assets/js/tile/imagesloaded.js"></script>
		<script src="app/_assets/js/tile/classie.js"></script>
		<script src="app/_assets/js/tile/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>