

<!--     <link rel="stylesheet" type="text/css" href="app/_assets/css/slide/normalize.css" />
 -->    
    <link rel="stylesheet" type="text/css" href="app/_assets/css/slide/demo.css" />
    <link rel="stylesheet" type="text/css" href="app/_assets/css/slide/component.css" />
    <script src="app/_assets/js/slide/modernizr.custom.js"></script>

<style type="text/css">

.nav li a  {
      color: rgb(221, 221, 221);
}
.min-width {
  min-width:300px;
}
a.terms {
  position: absolute;
    bottom: 1vh;
    left: 79px;
}
.terms > br {display: none}
</style>

<p>::VISITED <span class="blink">/</span> AGENCY</p>

    <div class="container">
      <div class="slideshow" id="slideshow">
        <ol class="slides">
          <li class="current">
            <div class="description">
              <h2>Full Blown Web Applications</h2>
              <p>Lightweight Single Page Apps or Robust Dupal 8 </p>
            </div>
            <div class="tiltview col">
              <a href="#"><img src="app/_assets/img/slide/1_screen.jpg"/></a>
              <a href="#"><img src="app/_assets/img/slide/2_screen.jpg"/></a>
            </div>
          </li>
          <li>
            <div class="description">
              <h2>Responsive Emails</h2>
              <p>Using 3 different templates - We can create single column  multiple column, desktop only, fully responsive.  QA included for full device and client support. We also support <code>VeeVa</code> integration and other variable key fields or partials for <code>SalesForce</code> or <code>MailChimp</code></p>
            </div>
            <div class="tiltview row">
              <a href="#"><img src="app/_assets/img/slide/3_mobile.jpg"/></a>
              <a href="#"><img src="app/_assets/img/slide/email-1.jpg"/></a>
            </div>
          </li>
          <li>
            <div class="description">
              <h2>SPA Single Page Apps</h2>
              <p>Angular or HTML5 with jQuery : Responsive, fast, durable. <br>A great option for limited campaigns, splash or feature pages or services <a href="http://marina.restaurant/"></a></p>
            </div>
            <div class="tiltview col">
              <a href="#"><img src="app/_assets/img/slide/5_screen.jpg"/></a>
              <a href="#"><img src="app/_assets/img/slide/6_screen.jpg"/></a>
            </div>
          </li>
          <li>
            <div class="description">
              <h2>HTML5 Banner Ads</h2>
              <p>Rapid development of IAB compliant and QA tested across major browsers, IE 9 and above support. Optional integration with Double Click or staged on our secure servers</p>
            </div>
            <div class="tiltview row">
              <a href="#"><img class="min-width" src="app/_assets/img/slide/banner-1.jpg"/></a>
              <a href="#"><img class="min-width" src="app/_assets/img/slide/banner-2.jpg"/></a>
            </div>
          </li>
          <li>
            <div class="description">
              <h2>Rich Media Expandable Banner Ads</h2>
              <p>Expandable banners in single or multiple direction with viewport direction. Mobile only ads or Mobile expanding MRAID or standard compliant options</p>
            </div>
            <div class="tiltview col">
              <a href="#"><img src="app/_assets/img/slide/expanding-1.png"/></a>
              <a href="#"><img src="app/_assets/img/slide/expanding-2.png"/></a>
            </div>
          </li>
          <li>
            <div class="description">
              <h2>Drupal CMS or SQL integration</h2>
              <p>Need more infrastructure? We can create customized applications for almost any functional need using Drupal or building a custom database integration to meet unique needs</p>
            </div>
            <div class="tiltview row">
              <a href="http://drupal.org"><img src="app/_assets/img/slide/drupal.png"/></a>
              <a href="#"><img src="app/_assets/img/slide/sql-2.png"/></a>
            </div>
          </li>
        </ol>
      </div><!-- /slideshow -->

  
    </div><!-- /container -->
    <script src="app/_assets/js/slide/classie.js"></script>
    <script src="app/_assets/js/slide/tiltSlider.js"></script>
    <script>
      new TiltSlider( document.getElementById( 'slideshow' ) );
    </script>








